asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.1
dj-rest-auth==7.0.1
Django==4.2.21
django-cors-headers==4.7.0
django-filter==25.1
django-mongoengine @ git+https://github.com/MongoEngine/django-mongoengine.git@298cdcf59b21fe590958f57f27bf28e7192fcc4e
django-mongoengine-filter==0.4.2
django-rest-framework-mongoengine @ git+https://github.com/umutbozkurt/django-rest-framework-mongoengine.git@2e1b2d3ce3ebd54b325b4999fe6efaf75c0aec23
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
idna==3.10
mongoengine==0.29.1
PyJWT==2.9.0
pymongo==4.12.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
stripe==12.0.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
