@import "tailwindcss";

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  
  /* Add text-size-adjust for modern browsers */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pale-orange: #242424;
  --pale-grey: #2E382D;
  --pale-yellow: #D2D1CC;
  --dark-grey: #EEEBE4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
    --pale-orange: #242424;
    --pale-grey: #2E382D;
    --pale-yellow: #D2D1CC;
    --dark-green: #A49594;
    --dark-grey: #EEEBE4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  height: 100%; /* ensures the body fills the viewport */
  margin: 0;
  padding: 0;
  
  /* For better font rendering on some devices */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
