@import "tailwindcss";

:root {
  --background: #ffffff;
  --pale-orange: #EEEBE4;
  --pale-grey: #A49594;
  --pale-yellow: #D2D1CC;
  --dark-green: #2E382D;
  --dark-grey: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-grey);
    --pale-orange: #EEEBE4;
    --pale-grey: #A49594;
    --pale-yellow: #D2D1CC;
    --dark-green: #2E382D;
    --dark-grey: #242424;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
